<div>
    <label class="fSmallasterisk"> Mandatory fields are marked with an asterisk(*)</label>
</div>
<div>
    <label class="headerindication">Ensure that you enter the correct account number</label>
</div>
<div>
    <label class="headerindication">Bank does not accept responsibility for funds transfered inadvertenly to wrong
        account number input by the customer</label>
</div>
<div>
    <form>
        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label col-form-label-sm">Name
                <span style="color:#FF0000;">
                    *</span></label>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-sm" id="name" placeholder="enter name">
            </div>
        </div>
        <div class="form-group row">
            <label for="accnumber" class="col-sm-3 col-form-label col-form-label-sm">Account Number<span
                    style="color:#FF0000;">
                    *</span></label>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-sm" id="accnumber"
                    placeholder="enter account number">
            </div>
        </div>
        <div class="form-group row">
            <label for="confirmaccnumber" class="col-sm-3 col-form-label col-form-label-sm">Confirm Account Number<span
                    style="color:#FF0000;">
                    *</span></label>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-sm" id="confirmaccnumber"
                    placeholder="re-enter account number">
            </div>
        </div>
        <div class="form-group row">
            <label for="transferlimit" class="col-sm-3 col-form-label col-form-label-sm">Transfer Limit<span
                    style="color:#FF0000;">
                    *</span></label>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-sm" id="transferlimit"
                    placeholder="enter transfer limit">
            </div>
        </div>
    </form>
    <div>
        <label class="benindication">Please note,Beneficiary Account Number will Only be used for Electronic Fund
            Transfer(please ensure corrwctness),the Beneficiary Name provided will not be considered for Elecrtronic
            Fund Transfer as per RBI guidelines.</label>
    </div>
</div>