<div class="card">
    <div class="card-header cardhead">
        Other Bank Beneficiary
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-outline-primary headerleftMargin" routerLinkActive="active"
            routerLink="./add">Add</button>
        <button type="button" class="btn btn-outline-primary btnflex" routerLinkActive="active"
            routerLink="./list">View</button>
        <button type="button" class="btn btn-outline-primary btnflex" routerLinkActive="active"
            routerLink="./update">Modify</button>
        <button type="button" class="btn btn-outline-primary btnflex" routerLinkActive="active"
            routerLink="./delete">Delete</button>
        <div class="benecrudborder"></div>
        <div class="routerMargin">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>