<div class="card">
    <div class="card-header cardhead">
        Quick Transfer (Without Adding Beneficiary)
    </div>
    <div class="card-body">
        <label class="fontsmall">Select the account from which you wish to fund transfer</label>
        <form>
            <div class="form-group row">
                <label for="bname" class="col-sm-3 col-form-label col-form-label-sm">Beneficiary Name<span
                        class="fSmallasterisk"> *</span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" id="bname"
                        placeholder="enter beneficiary name">
                </div>
            </div>
            <div class="form-group row">
                <label for="bAccno" class="col-sm-3 col-form-label col-form-label-sm">Beneficiary Account Number<span
                        class="fSmallasterisk"> *</span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" id="bAccno"
                        placeholder="enter account number">
                </div>
            </div>
            <div class="form-group row">
                <label for="bReAccno" class="col-sm-3 col-form-label col-form-label-sm">Re-enter Beneficiary Account
                    Number<span class="fSmallasterisk"> *</span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" id="bReAccno"
                        placeholder="enter account number">
                </div>
            </div>
            <label class="fontsmall">Select Payment Option</label>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-lable-sm">Payment Option
                    <span class="fSmallasterisk"> *</span>
                </label>
                <div class="col-sm-4" style="align-content:center;">
                    <input type="radio" class="form-check-input">
                    <label>Within BOI</label>
                </div>
            </div>
        </form>

    </div>
</div>